@import "../../../../assets/scss/variables";

.form {
  .form-control {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;

    .error {
      margin: 5px 0 0;
      color: $color-red;
    }

    label {
      margin: 0 0 5px;
    }

    input {
      padding: 10px;
    }
  }

  .form-footer {
    button {
      padding: 10px;
      color: $color-gray;
      background-color: $color-black;
      cursor: pointer;
      border: none;
      outline: none;
    }
  }
}
