@import "../../../../assets/scss/variables";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
    background-color: $color-gray;

    .form-container {
      h1 {
        margin: 0 0 20px;
      }

      .text-container {
        margin: 20px 0 0;
      }

      .google-button {
        margin: 0 0 15px;
        padding: 10px;
        color: $color-black;
        background-color: $color-white;
        cursor: pointer;
        border: none;
        outline: none;
      }
    }
  }
}
